
@charset "UTF-8";

@import url("/resource/font/stylesheet.css");
@import url("reset.css");
@import url("swiper.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');



/*
	공통클래스
*/
* {
	word-break: keep-all;
}
.c-blue {
	color:#1795d0;
	font-weight: 400;
}
.pad {
	padding:100px 0;
}
.help-text {
	padding:15px 0;
	font-size: 1.8rem;
	font-weight: 300;
}


/*
	공통레이아웃
*/
.inner {
	width:100%;
	max-width: 1509px;
	margin:0 auto;
}

#container {
	width: 100%;
}
#innerCont {
	width: 100%;
	max-width: 1360px;
	min-height: 600px;
	margin:0 auto;
	padding:60px 30px;
	box-sizing: border-box;
}
#innerCont-full {
	width: 100%;
	background-color: #f1f1f1;
}

.l-pad-box {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	padding:35px 45px;
	color:#444;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
	letter-spacing: -0.9px;
	box-sizing: border-box;
	&.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&.text-left {
		text-align: left;
	}
	&.gray {
		background-color: #f3f3f3;
	}
	&.blue {
		color:#fff;
		background-color: #1795d0;
	}
	&.red {
		color: #fff;
		background-color: #eb3447;
	}
	&.orange {
		color: #fff;
		background-color: #ffa200;
	}
}
.s-pad-box {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	padding: 20px 45px;
	color:#444444 !important;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
	letter-spacing: -0.9px;
	box-sizing: border-box;
	&.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&.text-left {
		text-align: left;
	}
	&.gray {
		background-color: #f3f3f3;
	}
	&.blue {
		color:#fff !important;
		background-color: #1795d0;
	}
	&.red {
		color: #fff !important;
		background-color: #eb3447;
	}
	&.orange {
		color:#fff !important;
		background-color: #ffa200;
	}
	img {
		margin-right: 7px;
		vertical-align: middle;
	}
	&+.s-pad-box {
		margin-top: -15px;
	}
}

.middot-list {
	margin-bottom: 26px;
	li {
		position: relative;
		margin:3px 0;
		padding-left: 15px;
		font-size: 1.8rem;
		font-weight: 300;
		&:before {
			position: absolute;
			top: 12px;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background-color: #222;
			content:'';
		}
	}
}
.dash-list {
	margin-bottom: 26px;
	&.inline {
		display: inline-block;
		min-width: 175px;
		vertical-align: top;
	}
	dt {
		font-size: 1.8rem;
		font-weight: 500;
	}
	dd {
		position: relative;
		margin:3px 0;
		padding-left: 8px;
		font-size: 1.8rem;
		font-weight: 300;
		&:before {
			position: absolute;
			top: 14px;
			left: 0;
			width: 4px;
			height: 1px;
			border-radius: 100%;
			background-color: #222;
			content: '';
		}
	}
}


/* button */
#btn-box {
	display: flex;
	flex-wrap: wrap;
	padding:20px 0;
	.btn {
		margin-right: 8px;
		&:last-child {
			margin-right: 0;
		}
	}

	&.center {
		justify-content: center;
	}
	&.right {
		justify-content: flex-end;
	}
}
.btn {
	display: inline-block;
	height: 50px;
	padding: 0 30px;
	color: #333;
	font-size: 1.6rem;
	font-weight: 300;
	border: 1px solid #ddd;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 48px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #fff;
	transition: all 0.2s;
	&:hover {
		opacity: 0.85;
	}
	&.bg-deepblue {
		color:#fff;
		border-color:#093265;
		background-color: #093265;
	}//end .bg-blue
	&.bg-green {
		color:#fff;
		border-color:#26b27c;
		background-color: #26b27c;
	}//end .bg-green
	&.bg-red {
		color:#fff;
		border-color:#eb3447;
		background-color: #eb3447;
	}//end .bg-green

	&.border-green {
		border-color:#26b27c;
	}//end .bg-green

	img {
		margin-top: -2px;
		&.left {
			margin-right: 10px;
		}
		&.right {
			margin-left: 10px;
		}
	}//end img
}//end .btn


/* table */
.tableType-01 {
	margin-bottom: 30px;
	border-top:1px solid #1795d0;
	&.green {
		border-top:2px solid #26b27c;
		th {
			background-color: #fafafa;
		}
		td {
			padding:15px;
		}
	}
	&.red {
		border-top: 2px solid #eb3447;
		th {
			// padding:10px;
			font-size: 1.6rem;
			border:none !important;
			background-color: #fafafa;
			&:first-of-type {
				border:none !important;
			}
		}
		td {
			// padding: 10px 30px;
			border:none;
			text-align: center;
			&:first-of-type {
				text-align: left;
			}
			> a {
				color:#333;
			}
			.state {
				padding: 0 1.5rem;
				&.on {
					background: url(https://nkhospital.net/resource/images/icon_chk2.png) no-repeat 0 50%;
					background-size: 1.2rem;
					color: #f0141e;
				}
			}
		}
	}
	.text-center {
		text-align: center !important;
	}
	table {
		width: 100%;
		table-layout: fixed;
	}
	tr {
		border-bottom: 1px solid #ddd;
	}//end tr
	th {
		padding:15px;
		font-size: 1.8rem;
		font-weight: 500;
		border-right: 1px solid #ddd;
		vertical-align: middle;
		background-color: #f0f0f0;
		&:first-of-type {
			border-right: 1px solid #ddd !important;
		}
		&:last-of-type {
			border: none;
		}
		&.lightGreen {
			background-color: #e9f9f7;
		}
	}//end th
	td {
		padding:15px 40px;
		word-break: keep-all;
		border-right: 1px solid #ddd;
		vertical-align: middle;
		&:last-of-type {
			border:none;
		}
		.dash-list dt,
		.dash-list dd,
		.middot-list li {
			font-size: 1.6rem;
			letter-spacing: -0.8px;
		}
	}//end td
}//end .tableType-01

/* 게시판 검색 */
.search {
	position: relative;
	width: 400px;
	margin:40px auto;
	input {
		width: 100%;
		height: 50px;
		padding:0 30px;
		font-size: 1.8rem;
		border:none;
		border-radius: 30px;
		outline: none;
		box-shadow: none;
		box-sizing: border-box;
		border:1px solid #ddd;
		background-color: #fff;
		vertical-align: bottom;
		&::placeholder {
			color:#aaa;
			font-weight: 400;
		}
	}//end input
	button {
		position: absolute;
		top: 50%;
		right: 20px;
		border:none;
		outline: none;
		box-shadow: none;
		background-color: transparent;
		transform: translateY(-50%);
		cursor: pointer;
		&:active {
			right: 19px;
			transform: translateY(-48%);
		}
	}//end button
}

/* 페이지네이션 */
.pagination {
	margin-top: 40px;
	font-size: 0;
	line-height: 0;
	text-align: center;
}

.pagination .btn {
	display: inline-block;
	margin: 0 2px;
	width: 3.3rem;
	height: 3.3rem;
	padding: 0 !important;
	border: 1px solid #dfdfdf;
	color: #666 !important;
	font-family: 'area';
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 3.3rem;
	// vertical-align: top;
	img {
		width: 100%;
		margin-top: 0;
		vertical-align: baseline;
	}
}

.pagination .btn.current {
	color: #fff !important;
	border-color: #eb3447;
	background-color: #eb3447;
	cursor: default;
}

.pagination .btn.prev {
	border-color:#fff;
	vertical-align: middle !important;
}

// .pagination .btn.prev span {
// 	display: inline-block;
// 	width: 100%;
// 	height: 100%;
// 	background-image: url("/resource/images/selec-down.png");
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: auto;
// }

.pagination .btn.next {
	border-color:#fff;
	vertical-align: middle !important;
}

// .pagination .btn.next span {
// 	display: inline-block;
// 	width: 100%;
// 	height: 100%;
// 	background-image: url("/resource/images/selec-down.png");
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: auto;
// }




/*
	header
*/
header {
	width: 100%;
}//end header

#login-bar {
	display: flex;
	width: 100%;
	padding:5px 75px;
	box-sizing: border-box;
	background-color: #323232;
	ul li {
		display: inline-block;
		padding:0 20px;
		color: #7b7b7b;
		font-size: 1.5rem;
		&:first-of-type {
			position: relative;
			padding-left: 0;
			&:after {
				position: absolute;
				top: 50%;
				left: 100%;
				width: 1px;
				height: 12px;
				margin-top: -5px;
				background-color: #7b7b7b;
				content:'';
			}
		}
		span {
			display: inline-block;
			margin-left: 10px;
			color:#fff;
		}//end span
	}//end ul li
	.left {
		margin-right: auto;

	}
	.right {
		margin-left: auto;
		li {
			padding:0 0 0 20px;
			&:after {
				display: none;
			}
		}
		input {
			width: 240px;
			height: 30px;
			padding:0 15px;
			border:none;
			border-radius: 30px;
			outline: none;
			box-shadow: none;
			box-sizing: border-box;
			background-color: #fff;
			vertical-align: bottom;
		}//end input
		button {
			position: absolute;
			top: 50%;
			right: 10px;
			border:none;
			outline: none;
			box-shadow: none;
			background-color: transparent;
			transform: translateY(-50%);
			cursor: pointer;
			&:active {
				right: 9px;
				transform: translateY(-48%);
			}
		}//end button
	}
}//end #login-bar

nav {
	display: flex;
	position: relative;
	width: 100%;
}//end nav

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 310px;
	background-color: #032a5b;
}//end #logo

#menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 198px;
	flex-shrink: 0;
	span {
		display: inline-block;
		margin-left: 10px;
		color:#333;
		font-size: 1.5rem;
		font-weight: bold;
	}//end span
}//end #menu

[id*=gnb] {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 636px;
	padding:38px 0;
	box-sizing: border-box;
	background-color: #fbfbfb;
	z-index: 1000;
	&.fnb {
		display: block;
		position: relative;
		top:auto;
		left: auto;
		height:auto;
	}//end .fnb

	ul {
		display: table;
		width: 100%;
		max-width:1569px;
		margin:0 auto;
		padding:0 30px;
		box-sizing: border-box;
		li {
			display: table-cell;
			position: relative;
			vertical-align: top;
			.gnb-tit {
				display: block;
				position: relative;
				width: 100%;
				color:#333;
				font-size: 1.6rem;
				font-weight: 500;
				letter-spacing: -0.8px;
				&:before {
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: #ddd;
					content:'';
				}
				&:after {
					position: absolute;
					top: 100%;
					left: 0;
					width: 120px;
					height: 3px;
					content:'';
				}

				&.bc1:after {background-color: #26b27c;}
				&.bc2:after {background-color: #eb3447;}
				&.bc3:after {background-color: #1886ba;}
			}//end .gnb-tit
			.row {
				margin-top: 26px;
				dl {
					display: inline-block;
					width: 140px;
					font-weight: 300;
					vertical-align: top;
					dt {
						font-size: 1.5rem;
						font-weight: 400;
						a {
							color:#333;
						}//end a
					}
					dd {
						line-height: 1.65;
						a {
							color:#aaa;
							font-size: 1.5rem;
							&:hover {
								font-weight: 400;
							}
						}
					}
				}//end dl
			}//end .row
			> img {
				position: absolute;
				bottom: 0;
				left: 0;
				max-width: 100%;
				// z-index: -1;
			}
		}//end li
		.left {
			dd a:hover {
				color:#26b27c;
			}
		}
		.center {
			width: 581px;
			padding:0 60px;
			dd a:hover {
				color: #eb3447;
			}
		}
		.right {
			dd a:hover {
				color: #1886ba;
			}
		}
	}//end ul
}//end #gnb

#reserve-btn-group {
	display: flex;
	flex-shrink: 0;
	width: 476px;
	padding:26px 0;
	box-sizing: border-box;
	background-color: #26b27c;
	a {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		width: 50%;
		span {
			display: inline-block;
			margin-left: 10px;
			font-size: 2rem;
			line-height: 1.2;
		}//end span

		&:first-of-type:after {
			position: absolute;
			top: 50%;
			left: 100%;
			width: 1px;
			height: 40px;
			margin-top: -20px;
			background-color: #fff;
			opacity: 0.3;
			content:'';
		}
	}//end a
}//end #reserve-btn-group

#top-bnnr {
	max-width: 936px;
	.swiper-pagination {
		width: auto;
		height: 30px;
		top: 50%;
		right:auto;
		left: 725px;
		color:#fff;
		transform: translateY(-50%);
	}
	.swiper-button-next {
		width: 42px;
		height: 42px;
		right: auto;
		left: 770px;
		margin-top: -21px;
		border:none;
		background-image: url(/resource/images/top-right.png);
		background-repeat: no-repeat;
	}
	.swiper-button-prev {
		width: 42px;
		height: 42px;
		right: auto;
		left: 670px;
		margin-top: -21px;
		border:none;
		background-image: url(/resource/images/top-left.png);
		background-repeat: no-repeat;
	}
}//end #top-vnnr


/* location */
#location {
	display: flex;
	// width: 100%;
	// max-width: 1300px;
	// margin:0 auto;
	height: 82px;
	> * {
		border-right: 1px solid #eee;
		box-sizing: border-box;
	}
	.home {
		display: block;
		width: 82px;
		line-height: 82px;
		text-align: center;
		border-left: 1px solid #eee;
		flex-shrink: 0;
	}//end .home
	.depth {
		position: relative;
		min-width:200px;
		height: 82px;
		padding-right: 40px;
		background-image: url(/resource/images/drop.png);
		background-repeat: no-repeat;
		background-position: calc(100% - 8px) 50%;
		>p {
			padding-left: 20px;
			line-height: 82px;
		}
		ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: #fff;
			border: 1px solid #ddd;
			box-sizing: border-box;
			z-index: 100;
			li {
				a {
					display: block;
					padding-left: 20px;
					color:#333;
					line-height: 35px;
				}
			}
		}//end ul
	}//end .depth
}//end #location



/*
	main
*/
#main-bnnr {
	.swiper-slide {
		> a {
			display: block;
			position: relative;
			.swiper-cont {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				max-width: 1300px;
				height: 1px;
				transform: translateX(-50%);
				.tit {
					margin-bottom: 30px;
					font-size: 5rem;
					font-weight: bold;
					line-height: 1.2;
					letter-spacing: -3.75px;
				}//end tit
				.text {
					font-size: 2.2rem;
					font-weight: 300;
					letter-spacing: -1.65px;
				}
			}//end .swiper-cont
		}//end a
	}//end .swiper-slide
	.swiper-pagination {
		bottom: 30px;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			margin:0 10px;
			border:2px solid #fff;
			background-color: transparent;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: #fff;
		}
	}
}//end #main-bnnr


#center-list {
	min-height:778px;
	padding:100px 0;
	box-sizing: border-box;
	background-image: url(/resource/images/center-list-bg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto 100%;
	background-color: #f2f2f2;
	.inner {
		max-width: 1520px;
	}
	.tab {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			position: relative;
			padding:0 20px;
			&:not(:last-of-type):after {
				position: absolute;
				top: 50%;
				left: 100%;
				width: 1px;
				height: 14px;
				margin-top: -7px;
				background-color: #333;
				content:'';
			}
			&.on,
			&:hover,
			&:focus {
				a {
					color:#333;
					transition: all 0.1s;
				}//end a
			}
			a {
				color:#bababa;
				font-size: 3.5rem;
				font-weight: 500;
			}//end a
		}//end li
	}//end .tab
	.tab + p {
		padding: 15px 0;
		color:#989898;
		font-size: 1.8rem;
		text-align: center;
	}//end p

	#filter {
		display: flex;
		justify-content: center;
		align-items: center;
		margin:30px 0;
		&.tab-1 li {
			&.on,
			&:hover,
			&:focus {
				a {
					background-color: #26b27c;
				}//end a
			}
		}
		&.tab-2 li {
			&.on,
			&:hover,
			&:focus {
				a {
					background-color: #1886ba;
				}//end a
			}
		}
		&.tab-3 li {
			&.on,
			&:hover,
			&:focus {
				a {
					background-color: #eb3447;
				}//end a
			}
		}
		li {
			margin:0 5px;
			&.on,
			&:hover,
			&:focus {
				a {
					color:#fff;
					transition: all 0.1s;
				}//end a
			}
			a {
				display: flex;
				width: 44px;
				height: 44px;
				justify-content: center;
				align-items: center;
				color:#333;
				border-radius:100%;
				background-color: #fff;
			}//end a
		}//end li
	}//end filter

	#tab1-1 {
		display: block;
		.list {
			li:hover a {
				border-color: #26b27c;
			}//end li
		}//end .list
	}//end #tab-1
	#tab1-2 {
		.list {
			li:hover a {
				border-color: #1886ba;
			}//end li
		}//end .list
	}//end #tab-1
	#tab1-3 {
		.list {
			li:hover a {
				border-color: #eb3447;
			}//end li
		}//end .list
	}//end #tab-1
	.tab-cont {
		display: none;
		.list {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			li {
				margin:5.5px;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					flex-flow: column;
					width: 179px;
					height: 179px;
					color:#a3a3a3;
					border:12px solid #fff;
					box-sizing: border-box;
					background-color: #fff;
				}//end a
			}//end li
		}//end .list
	}//end .tab-cont
}//end #center-list


#main-notice,
#sub-notice {
	.tab {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			position: relative;
			padding:0 20px;
			&:not(:last-of-type):after {
				position: absolute;
				top: 50%;
				left: 100%;
				width: 1px;
				height: 14px;
				margin-top: -7px;
				background-color: #cecece;
				content:'';
			}
			&.on,
			&:hover,
			&:focus {
				a {
					color:#333;
					transition: all 0.1s;
				}//end a
			}
			a {
				color:#bababa;
				font-size: 2rem;
				font-weight: 600;
				letter-spacing: -1.5px;
			}//end a
		}//end li
	}//end .tab
	.main-list-menu {
		margin: 110px 0;
		.inner {
			overflow: hidden;
			text-align: center;
			.main-clinic {
				display: none;
				overflow:visible;
				&#tab2-1 {
					display: block;
				}
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				padding-top: 13px;
				padding-bottom: 30px;
				li {
					position: relative;
					width: calc(25% - 15px);
					margin-right: 20px;
					margin-top: 60px;
					height: auto;
					transition: all 0.2s;
					&:nth-of-type(4n+4) {
						margin-right: 0;
					}
					.dec {
						display: block;
						text-align: left;
						padding-bottom: 30px;
						.img {
							img {
								width: 100%;
							}
						}
						.txt {
							display: block;
							padding:20px 0;
							box-sizing: border-box;
							b {
								color:#202020;
								font-size: 1.8rem;
								font-weight: normal;
								letter-spacing: -0.9px;
							}
							p {
								margin-top: 1rem;
								color: #999;
								font-size: 1.6rem;
								font-weight: 300;
								line-height: 1.4;
								letter-spacing: -0.9px;
							}
						}
					}//end .dec
					.dec-foot {
						position: absolute;
						bottom: 0;
						left: 0;
						color:#333;
						font-size: 0.938rem;
						padding:0 0 0;
						box-sizing: border-box;
						span {
							padding:0 10px;
							color:#a6a6a6;
							font-size: 1.4rem;
							font-weight: 300;
							vertical-align: middle;
							&.label {
								display: inline-block;
								width: 60px;
								height: 25px;
								margin-right: 5px;
								color:#333;
								line-height: 25px;
								text-align: center;
								border:1px solid #333;
								border-radius: 14px;
							}//end .label
							&.view {
								position: relative;
								&:after {
									position: absolute;
									top: 50%;
									right: 100%;
									width: 1px;
									height: 10px;
									margin-top: -4px;
									background-color: #cecece;
									content:'';
								}
							}//end .view
						}
					}//end .dec-foot
				}
			}//end ul
		}//end .main-list-inner
	}//end .main-list-menu
}//end #main-notice

#main-info {
	padding:100px 0;
	h3 {
		color:#fff;
		font-size: 4.5rem;
		font-weight: 500;
		letter-spacing: -1.5px;
		text-align: center;
	}//end h3
}//end #main-info



/*
	sub
*/
#sub-bnnr {
	overflow: hidden;
	position: relative;
	width: 100%;
	> img {
		position: relative;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}//end img
	> h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		span {
			display: inline-block;
			width: 232px;
			height: 44px;
			background-image: url(/resource/images/sub-bnnr-text.png);
			background-repeat: no-repeat;
			background-position: center;
		}//end span
		small {
			display: inline-block;
			width: 100%;
			padding:25px 0 0;
			color:#fff;
			font-size: 1.8rem;
			font-weight: 300;
		}//end small
	}//end h2
}//end #sub-bnnr

.cont-tit {
	padding:30px 0 40px;
	color: #333333;
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: -1.5px;
	&.bar {
		padding-top: 0;
		padding-left: 30px;
		padding:0 0 30px 30px;
		background-image: url(/resource/images/title-bar.png);
		background-repeat: no-repeat;
		background-position: 0 2px;
	}
	&.center {
		text-align: center;
	}
}//end .cont-tit

.cont-box {
	position: relative;
	display: flex;
	padding:40px 0;
	box-sizing: border-box;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #e3e3e3;
		content:'';
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 170px;
		height: 2px;
		background-color: #1795d0;
		content: '';
	}
	.cont-label {
		flex-shrink: 0;
		width: 240px;
		color: #333333;
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: -1.25px;
	}//end .cont-label
	.cont {
		width: 100%;
	}
	.cont-step {
		width: 100%;
		li {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding:16px;
			border-bottom: 1px solid #eee;
			box-sizing: border-box;
			> * {
				padding:0 10px;
			}
			> span {
				width: 60px;
				text-align: center;
				flex-shrink: 0;
				img {
					max-width: 60px;
				}
			}
			.step-tit {
				width: 250px;
				padding-left: 20px;
				font-size: 1.8rem;
				font-weight: 500;
				flex-shrink: 0;
			}//end .step-tit
			.step-text {
				font-size: 1.7rem;
				font-weight: 300;
				letter-spacing: -0.9px;
			}//end .step-text
		}//end li
	}//end .cont-step
}//end .cont-box

.page-dropdown {
	position: relative;
	width: 428px;
	height: 60px;
	margin: -10px auto 50px;
	.dropdown-toggle {
		position: relative;
		width: 100%;
		height: 60px;
		padding: 0 88px 0 28px;
		font-family: 'Noto Sans KR';
		font-size: 1.8rem;
		line-height: 60px;
		text-align: left;
		border: none;
		outline: none;
		background-color: #fff;
		z-index: 100;
		&:after {
			position: absolute;
			top: 50%;
			right: 40px;
			width: 8px;
			height: 8px;
			border-top: 2px solid #999;
			border-right: 2px solid #999;
			transform: rotate(135deg);
			margin-top: -5px;
			transition: all .2s;
			content: "";
		}
		&.on {
			background: #fff;
			color: #111;
			&:after {
				margin-top: -1px;
				border-color: #26b27c;
			}
		}
	}//end .dropdown-toggle
	.dp-section {
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		position: absolute;
		top: 100%;
		left: 0;
		border: 1px solid #ddd;
		background-color: #fff;
		transition: all 0.2s;
		z-index: 100;
		li {
			width: 50%;
			height: 50px;
			border-bottom: 1px solid #ddd;
			box-sizing: border-box;
			a {
				display: block;
				width: 100%;
				padding: 0 30px;
				color: #555;
				font-size: 18px;
				line-height: 49px;
				box-sizing: border-box;
				&:hover {
					background-color: #f8f8f8;
				}
			}//end a
		}//end li
	}//end .dp-section

	&:hover .dropdown-toggle+.dp-section {
		border-top: 2px solid #ddd;
		transition: all 0.2s;
	}
}//end .page-dropdown

.docList {
	position: relative;
	margin-bottom: 40px;
	padding:40px 0;
	.link {
		position: absolute;
		top: 2.75rem;
		right: 0;
		padding-right: 1.6rem;
		color: #333;
		font-size: 18px;
		line-height: 1;
		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: 2;
			top: 50%;
			left: -30px;
			width: 1rem;
			height: 0.1rem;
			background: #26b27c;
		}
		&:after {
			transform: rotate(90deg);
		}
	}//end .link
	.list {
		margin: 0 -1.5rem;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		li {
			float: left;
			width: 33.33%;
			margin: 2.5rem 0;
			a {
				display: block;
				margin: 0 2rem;
			}//end a
			.pic {
				position: relative;
				display: block;
				margin: 0 0 0.5rem;
				&:before,
				&:after {
					content: "";
					position: absolute;
					z-index: 2;
					right: 2.5rem;
					bottom: 3rem;
					width: 1.15rem;
					height: 0.15rem;
					background: #fff;
				}
				&:after {
					transform: rotate(90deg);
				}
				img {
					width: 100%;
				}//end img
				i {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 6.7rem;
					height: 6.7rem;
					background: #26b27c;
				}//end i
			}//end pic
			.name {
				display: inline-block;
				margin-top: 15px;
				color: #111;
				font-size: 3rem;
				font-weight: 300;
				b {
					font-size: 3rem;
					font-weight: 500;
				}//end b
			}//end .name
		}//end li
	}//end list
}//end .docList

.doc-history {
	width: 100%;
	min-height:400px;
	padding: 0 50px;
	font-size: 18px;
	line-height: 36px;
	box-sizing: border-box;
}

.doctor {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	.doctor-img {
		width: 408px;
		text-align: center;
		img {
			width: 100%;
			max-width: 408px;
		}//end img
	}//end .doctor-img
	.doctor-info {
		width: calc(100% - 608px);
		// padding: 30px 0;
		.talk {
			span {
				display: block;
				margin-bottom: 30px;
				font-family: NanumMyeongjo;
				font-size: 35px;
				font-weight: 600;
				line-height: 1.4;
				letter-spacing: -1px;
			}//end span
			small {
				display: inline-block;
				margin-bottom: 50px;
				font-size: 18px;
			}//end small
		}//end .talk
		.name {
			margin-bottom: 30px;
			small {
				margin-right: 10px;
				font-size: 18px;
			}//end small
			span {
				display: block;
				margin-top: 6px;
				font-size: 30px;
				font-weight: 300;
				b {
					font-weight: 500;
				}//end b
			}//end span
		}//end .name
		.clinic {
			margin-bottom: 15px;
			span {
				display: inline-block;
				margin-right: 10px;
				padding: 5px 15px;
				color: #333;
				border: 1px solid #333;
			}//end span
			ul {
				display: inline-block;
				li {
					display: inline-block;
					position: relative;
					padding: 0 10px;
					font-size: 16px;
					&:after {
						display: block;
						position: absolute;
						top: 50%;
						left: 100%;
						width: 2px;
						height: 12px;
						margin-top: -5px;
						background-color: #666;
						content: '';
					}
					&:last-of-type:after {
						display: none;
					}
				}//end li
			}//end ul
		}//end .clinic
		[class*=tableType] {
			margin-bottom: 0;
		}
		>p {
			margin-top: 6px;
		}//end p
		.btn {
			width: 215px;
			&.border-green {
				color:#333;
			}//end .btn
		}
	}//end .doctor-info
}//end .doctor

.tabMenu {
	margin-top: 50px;
	margin-bottom: 30px;
	ul {
		display: flex;
		li {
			width: 100%;
			margin:0 5px;
			text-align: center;
			border: 1px solid #ddd;
			&.active {
				border: 1px solid #26b27c;
				background-color: #26b27c;
				a {
					color: #fff;
				}
			}
			a {
				display: block;
				width: 100%;
				color: #333;
				font-size: 18px;
				line-height: 60px;
			}//end a
		}//end li
	}//end ul
}//end .tabMenu

.tabMenu-2 {
	margin: 110px 0 55px;
	&.s-margin {
		margin: 50px 0 20px;
	}

	ul {
		display: flex;
		li {
			position: relative;
			width: 100%;
			text-align: center;
			background-color: #f8f8f8;
			&:before {
				position: absolute;
				bottom: 0px;
				width: calc(100% + 2px);
				height: 1px;
				background-color: #111;
				z-index: 1;
			}
			&:first-of-type.active:before {
				left: 100%;
				content: '';
			}
			&:last-of-type.active:before {
				right: 100%;
				content: '';
			}
			&.active {
				border: 1px solid #111;
				border-bottom: 0;
				background-color: #fff;
				a {
					color: #111;
				}
			}
			a {
				display: block;
				width: 100%;
				color: #111;
				font-size: 18px;
				line-height: 60px;
			}//end a
		}//end li
	}//end ul
}//end tabMenu-2

.relationList {
	margin-top: 3rem;
	ul {
		display: flex;
		align-content: center;
		justify-items: flex-start;
		flex-wrap: wrap;
		width: calc(100% + 40px);
		margin-left: -20px;
		li {
			position: relative;
			width: calc(33.33% - 40px);
			margin: 0 20px 20px;
			border: 1px solid #e4e4e4;
			background: #fdfdfd;
			box-sizing: border-box;
		}//end li
	}//end ul
	.thumb {
		position: relative;
		padding-top: 56%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}//end .thumb
	.cont {
		// position: relative;
		padding: 3rem 4rem;
		border-top: 0;
		font-size: 1.3rem;
		color: #333;
		.tit {
			display: block;
			height: auto;
			padding: 1rem 0 0.75rem;
			font-size: 2.2rem;
			line-height: 1.2;
			color: #111;
			box-sizing: border-box;
		}//end .tit
		.txt {
			display: block;
			display: -webkit-box;
			overflow: hidden;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			height: 112px;
			font-size: 16px;
		}//end .txt
		.link {
			position: absolute;
			right: 0;
			bottom: 15px;
			padding-right: 1.5rem;
			font-size: 14px;
			line-height: 1;
		}//end .link
	}//end .cont
}//end .relationList

.relationVod {
	margin-top: 2.5rem;
	.title {
		margin: 0 0 1.5rem;
		padding: 0 0 1rem;
		border-bottom: 0.05rem solid #222e3e;
		font-size: 2.4rem;
		text-align: center;
	}//end .title
	ul {
		display: flex;
		align-content: center;
		justify-items: flex-start;
		flex-wrap: wrap;
		width: calc(100% + 40px);
		margin-left: -20px;
		li {
			width: calc(33.33% - 40px);
			margin: 0 20px 20px;
			border: 0.05rem solid #e4e4e4;
			box-sizing: border-box;
		}//end li
	}//end ul
	.vod {
		position: relative;
		padding-top: 56.25%;
		overflow: hidden;
		.vlayer {
			bottom: 0;
		}//end .vlayer
		.time {
			position: absolute;
			top: 55%;
			right: 0;
			left: 0;
			color: #fff;
			font-size: 1.4rem;
			z-index: 1000;
			text-align: center;
		}
		iframe {
			border:none;
		}
	}//end .vod
	.cont {
		position: relative;
		padding: 3rem 4rem;
		border-top: 1px solid #ddd;
		.tit {
			display: block;
			height: auto;
			margin: 0 0 1rem;
			color: #333;
			font-size: 22px;
			box-sizing: border-box;
		}//end .tit
		.txt {
			display: block;
			color: #333;
		}//end .txt
		.name {
			display: block;
			margin: 1.5rem 0 0;
			padding: 0.5rem 0 0;
			color: #333;
			font-weight: 400;
			line-height: 1.2;
			img {
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				overflow: hidden;
			}//end img
		}//end .name
		.btnSns {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			a {
				display: inline-block;
				width: 4rem;
				height: 4rem;
				line-height: 4rem;
				font-size: 0;
				text-align: center;
				vertical-align: middle;
			}//end a
		}//end .btnSns
	}//end .cont
}//end .relationVod


@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
#intro {
	padding:101px 0 101px 30%;
	.intro-head {
		position: relative;
		margin-bottom: 40px;
		color: #333333;
		font-size: 3rem;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: -1.5px;
		&:before {
			display: block;
			position: absolute;
			top: 50%;
			left: -390px;
			width: 563px;
			height: 563px;
			margin-top: -281px;
			background-image: url(/resource/images/intro-01.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			z-index: -1;
			content:'';

			animation-name: spin;
			animation-duration: 30s;
			animation-iteration-count:infinite;
			animation-timing-function:linear;
		}
		&:after {
			display: block;
			position: absolute;
			top: 50%;
			left: -180px;
			width: 152px;
			height: 152px;
			background-image: url(/resource/images/intro-02.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			transform: translateY(-50%);
			content:'';
		}
	}//end .intro-head
}//end #intro


[id*=history-] {
	padding:100px 0;
	&.gray {
		background-color: #f1f1f1;
		.history-box {
			.swiper-container {
				.swiper-slide {
					>p {
						background-color: #f1f1f1;
					}
				}
			}
		}
	}
	.history-box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		max-width: 1300px;
		margin:0 auto;
		.swiper-container {
			margin-left: 0;
			width: 500px;
			padding-bottom: 30px;
			.swiper-slide {
				> p {
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 90%;
					padding:15px 0 0;
					text-align: center;
					background-color: #fff;
					transform: translateX(-50%);
				}
			}
			.swiper-pagination {
				bottom: -5px;
				.swiper-pagination-bullet {
					width: 11px;
					height: 11px;
				}
				.swiper-pagination-bullet-active {
					background-color: #eb3447;
				}
			}
		}//end .swiper-container
		.history-list {
			width: 50%;
			.years {
				margin-bottom: 54px;
				color: #333333;
				font-family: 'arita-buri';
				font-size: 3.5rem;
				font-weight: 500;
				line-height: 0.86;
				letter-spacing: -1.75px;
			}//end .years
			.list {
				display: flex;
				margin-bottom: 30px;
				font-size: 1.8rem;
				font-weight: 300;
				.year {
					width: 80px;
					font-size: 1.8rem;
				}//end .year
			}//end .list
		}//end .history-list
	}
}//end #history

#mission {
	width: 100%;
	padding-bottom: 200px;
	background-image: url(/resource/images/mission.png);
	background-repeat: no-repeat;
	background-position: 0 100px;
	background-size: 100.09% auto;
}

.cardList {
	display: flex;
	align-content: flex-start;
	justify-items: flex-start;
	width:calc(100% + 3rem);
	margin: 2rem 0 0 -1.5rem;
	&.typeRecruit li {
		background-image: url("http://nkhospital.net/resource/images/contents/icon_recruit.png");
	}
	li {
		width: 33.33%;
		margin: 1.5rem;
		background: #fdfdfd url("http://nkhospital.net/resource/images/contents/icon_heart.png") no-repeat right 1.4rem bottom 1.4rem;
		background-size: 2rem;
		border: 1px solid #ddd;
		border-top:2px solid #eb3447;
		a {
			display: block;
			padding: 3rem;
			transition: all 0.2s;
		}
		&:hover {
			// background-color: #eb3447;
			// background-image: none;
			a {
				padding:3rem 2rem 3rem 4rem;
			}
			* {
				// color:#fff !important;
			}
			.opt:after {
				background-color:#eb3447;
			}
		}
	}
	.subject {
		display: block;
		overflow: hidden;
		color:#333;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-weight: 400;
		font-size: 2.5rem;
	}//end .subject
	.txt {
		display: block;
		margin: 1rem 0 0;
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		color: #666;
	}//end .txt
	.opt {
		display: block;
		position: relative;
		margin: 1.25rem 0 0 -0.75rem;
		&:after {
			content: "";
			position: absolute;
			top: -132px;
			bottom: 136px;
			left: -0.75rem;
			width: 5px;
			background-color: #fbfbfb;
		}
		span {
			position: relative;
			display: inline-block;
			padding: 0 0.75rem;
			color: #666;
			:after {
				content: "";
				position: absolute;
				top: 0.8rem;
				left: -0.2rem;
				width: 1px;
				height: 0.8rem;
				background: #ddd;
			}
		}//end span
	}//end .opt
}//end .cardList





/*
	footer
*/
footer {
	background-color: #373737;
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding:50px 0;
		.foot-logo {
			width: 100%;
		}//end .foot-logo
		.f-l {
			.f-l-list {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;
			}//end .f-l-list
			dl {
				width: 160px;
				margin:30px 10px 0 0;
				font-weight: 300;
				color:#fff;
				&:nth-of-type(2) {
					width: 190px;
				}
				dt {
					opacity: 0.35;
				}//end dt
				dd {
					font-weight: 500;
					line-height: 1.4;
				}//end dd
			}//end dl
		}//end .f-l
		.f-r {
			.f {
				display: flex;
				&.time {
					dl {
						margin-right: 78px;
						color:#fff;
						font-size: 1.6rem;
						dt {
							font-weight: 500;
						}//end dt
						dd {
							font-weight: 300;
						}//end dd
					}//end dl
				}
				&.tel,
				&.call {
					display: inline-flex;
					margin-top: 50px;
					dl {
						min-width:150px;
						margin-right: 20px;
						color:#fff;
						letter-spacing: -0.8px;
						dt {
							font-size: 1.8rem;
						}//end dt
						dd {
							font-size: 2.8rem;
							font-weight: 600;
						}//end dd
					}//end dl
				}
				img {
					margin-right: 20px;
					align-self: flex-start;
				}//end img
			}//end .f
		}//end .f-r
	}//end .inner
	.info {
		width: 100%;
		max-width: 1509px;
		margin:20px auto 0;
		p {
			color:#fff;
		}
		span {
			display: inline-block;
			margin-right: 20px;
			color:#fff;
			font-weight: 300;
			opacity: 0.35;
		}
	}//end .info
}//end footer

#fnb {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding:15px 0;
	border-bottom:1px solid rgba(255,255,255,0.1);
	li {
		margin:0 30px;
		a {
			color:#fff;
			font-weight: 300;
			opacity: 0.35;
			&:hover {opacity: 1;}
		}//end a
	}//end li
}//end .fnb



@media screen and (max-width:1670px) {

	#menu {
		width: 128px;
	}
	#reserve-btn-group {
		width: 296px;
	}//end #reserve-btn-group
}
@media screen and (max-width:1550px) {
	#logo {
		width: 180px;
		flex-shrink: 0;
	}
	#menu {
		width: 128px;
	}
	#reserve-btn-group {
		width: 296px;
	}//end #reserve-btn-group
}
@media screen and (max-width:1440px) {
	#logo {
		img {
			width: 120px;
		}
	}
	#menu {
		flex-flow: column;
		align-items: center;
		width: 124px;
		span {
			display: block;
			margin-left: 3px;
			font-size: 1.4rem;
		}
	}
	[id*=gnb] ul {
		li {
			&.right {
				>img {
					bottom: -30px;
				}
			}
			.left {
				>img {
					width: 175px;
					bottom: -30px;
				}
			}
			.row {
				dl {
					width: 130px;
				}
			}
		}
	}
	#reserve-btn-group a span {
		font-size: 1.6rem;
	}
	#top-bnnr {
		.swiper-button-prev {
			left: auto;
			right: 110px;
		}
		.swiper-button-next {
			left: auto;
			right: 20px;
		}
		.swiper-pagination {
			left: auto;
			right: 70px;
		}
		.swiper-slide {
			img {
				height: 90px;
			}
		}
	}


}

