@charset "UTF-8";
@import url("/resource-pc/font/stylesheet.css");
@import url("reset.css");
@import url("swiper.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
/*
	공통클래스
*/
* {
  word-break: keep-all; }

.c-blue {
  color: #1795d0;
  font-weight: 400; }

.pad {
  padding: 100px 0; }

.help-text {
  padding: 15px 0;
  font-size: 1.8rem;
  font-weight: 300; }

/*
	공통레이아웃
*/
.inner {
  width: 100%;
  max-width: 1509px;
  margin: 0 auto; }

#container {
  width: 100%; }

#innerCont {
  width: 100%;
  max-width: 1360px;
  min-height: 600px;
  margin: 0 auto;
  padding: 60px 30px;
  box-sizing: border-box; }

#innerCont-full {
  width: 100%;
  background-color: #f1f1f1; }

.l-pad-box {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 35px 45px;
  color: #444;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  letter-spacing: -0.9px;
  box-sizing: border-box; }
  .l-pad-box.flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .l-pad-box.text-left {
    text-align: left; }
  .l-pad-box.gray {
    background-color: #f3f3f3; }
  .l-pad-box.blue {
    color: #fff;
    background-color: #1795d0; }
  .l-pad-box.red {
    color: #fff;
    background-color: #eb3447; }
  .l-pad-box.orange {
    color: #fff;
    background-color: #ffa200; }

.s-pad-box {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 45px;
  color: #444444 !important;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  letter-spacing: -0.9px;
  box-sizing: border-box; }
  .s-pad-box.flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .s-pad-box.text-left {
    text-align: left; }
  .s-pad-box.gray {
    background-color: #f3f3f3; }
  .s-pad-box.blue {
    color: #fff !important;
    background-color: #1795d0; }
  .s-pad-box.red {
    color: #fff !important;
    background-color: #eb3447; }
  .s-pad-box.orange {
    color: #fff !important;
    background-color: #ffa200; }
  .s-pad-box img {
    margin-right: 7px;
    vertical-align: middle; }
  .s-pad-box + .s-pad-box {
    margin-top: -15px; }

.middot-list {
  margin-bottom: 26px; }
  .middot-list li {
    position: relative;
    margin: 3px 0;
    padding-left: 15px;
    font-size: 1.8rem;
    font-weight: 300; }
    .middot-list li:before {
      position: absolute;
      top: 12px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #222;
      content: ''; }

.dash-list {
  margin-bottom: 26px; }
  .dash-list.inline {
    display: inline-block;
    min-width: 175px;
    vertical-align: top; }
  .dash-list dt {
    font-size: 1.8rem;
    font-weight: 500; }
  .dash-list dd {
    position: relative;
    margin: 3px 0;
    padding-left: 8px;
    font-size: 1.8rem;
    font-weight: 300; }
    .dash-list dd:before {
      position: absolute;
      top: 14px;
      left: 0;
      width: 4px;
      height: 1px;
      border-radius: 100%;
      background-color: #222;
      content: ''; }

/* button */
#btn-box {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0; }
  #btn-box .btn {
    margin-right: 8px; }
    #btn-box .btn:last-child {
      margin-right: 0; }
  #btn-box.center {
    justify-content: center; }
  #btn-box.right {
    justify-content: flex-end; }

.btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-indent: 0 !important;
  text-decoration: none;
  line-height: 48px;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-color: #fff;
  transition: all 0.2s; }
  .btn:hover {
    opacity: 0.85; }
  .btn.block {
    width: 100%; }
  .btn.bg-deepblue {
    color: #fff;
    border-color: #093265;
    background-color: #093265; }
  .btn.bg-green {
    color: #fff;
    border-color: #26b27c;
    background-color: #26b27c; }
  .btn.bg-red {
    color: #fff;
    border-color: #eb3447;
    background-color: #eb3447; }
  .btn.bg-orange {
    color: #fff;
    border-color: #ffa200;
    background-color: #ffa200; }
  .btn.border-green {
    border-color: #26b27c; }
  .btn img {
    margin-top: -2px; }
    .btn img.left {
      margin-right: 10px; }
    .btn img.right {
      margin-left: 10px; }

/* table */
.tableType-01 {
  margin-bottom: 30px;
  border-top: 1px solid #1795d0; }
  .tableType-01.green {
    border-top: 2px solid #26b27c; }
    .tableType-01.green th {
      background-color: #fafafa; }
    .tableType-01.green td {
      padding: 15px; }
  .tableType-01.red {
    border-top: 2px solid #eb3447; }
    .tableType-01.red th {
      font-size: 1.6rem;
      border: none !important;
      background-color: #fafafa; }
      .tableType-01.red th:first-of-type {
        border: none !important; }
    .tableType-01.red td {
      border: none;
      text-align: center; }
      .tableType-01.red td:first-of-type {
        text-align: left; }
      .tableType-01.red td > a {
        color: #333; }
      .tableType-01.red td .state {
        padding: 0 1.5rem; }
        .tableType-01.red td .state.on {
          background: url(https://nkhospital.net/resource/images/icon_chk2.png) no-repeat 0 50%;
          background-size: 1.2rem;
          color: #f0141e; }
  .tableType-01 .text-center {
    text-align: center !important; }
  .tableType-01 table {
    width: 100%;
    table-layout: fixed; }
  .tableType-01 tr {
    border-bottom: 1px solid #ddd; }
  .tableType-01 th {
    padding: 15px;
    font-size: 1.8rem;
    font-weight: 500;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    background-color: #f0f0f0; }
    .tableType-01 th:first-of-type {
      border-right: 1px solid #ddd !important; }
    .tableType-01 th:last-of-type {
      border: none; }
    .tableType-01 th.lightGreen {
      background-color: #e9f9f7; }
  .tableType-01 td {
    padding: 15px 40px;
    word-break: keep-all;
    border-right: 1px solid #ddd;
    vertical-align: middle; }
    .tableType-01 td:last-of-type {
      border: none; }
    .tableType-01 td .dash-list dt,
    .tableType-01 td .dash-list dd,
    .tableType-01 td .middot-list li {
      font-size: 1.6rem;
      letter-spacing: -0.8px; }

/* 게시판 검색 */
.search {
  position: relative;
  width: 400px;
  margin: 40px auto; }
  .search input {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    font-size: 1.8rem;
    border: none;
    border-radius: 30px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #fff;
    vertical-align: bottom; }
    .search input::placeholder {
      color: #aaa;
      font-weight: 400; }
  .search button {
    position: absolute;
    top: 50%;
    right: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer; }
    .search button:active {
      right: 19px;
      transform: translateY(-48%); }

/* 페이지네이션 */
.pagination {
  margin-top: 40px;
  font-size: 0;
  line-height: 0;
  text-align: center; }

.pagination .btn {
  display: inline-block;
  margin: 0 2px;
  width: 3.3rem;
  height: 3.3rem;
  padding: 0 !important;
  border: 1px solid #dfdfdf;
  color: #666 !important;
  font-family: 'area';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.3rem; }
  .pagination .btn img {
    width: 100%;
    margin-top: 0;
    vertical-align: baseline; }

.pagination .btn.current {
  color: #fff !important;
  border-color: #eb3447;
  background-color: #eb3447;
  cursor: default; }

.pagination .btn.prev {
  border-color: #fff;
  vertical-align: middle !important; }

.pagination .btn.next {
  border-color: #fff;
  vertical-align: middle !important; }

/*
	header
*/
header {
  width: 100%; }

#login-bar {
  display: flex;
  width: 100%;
  padding: 5px 75px;
  box-sizing: border-box;
  background-color: #323232; }
  #login-bar ul li {
    display: inline-block;
    padding: 0 20px;
    color: #7b7b7b;
    font-size: 1.5rem; }
    #login-bar ul li:first-of-type {
      position: relative;
      padding-left: 0; }
      #login-bar ul li:first-of-type:after {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 1px;
        height: 12px;
        margin-top: -5px;
        background-color: #7b7b7b;
        content: ''; }
    #login-bar ul li span {
      display: inline-block;
      margin-left: 10px;
      color: #fff; }
  #login-bar .left {
    margin-right: auto; }
  #login-bar .right {
    margin-left: auto; }
    #login-bar .right li {
      padding: 0 0 0 20px; }
      #login-bar .right li:after {
        display: none; }
    #login-bar .right input {
      width: 240px;
      height: 30px;
      padding: 0 15px;
      border: none;
      border-radius: 30px;
      outline: none;
      box-shadow: none;
      box-sizing: border-box;
      background-color: #fff;
      vertical-align: bottom; }
    #login-bar .right button {
      position: absolute;
      top: 50%;
      right: 10px;
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      transform: translateY(-50%);
      cursor: pointer; }
      #login-bar .right button:active {
        right: 9px;
        transform: translateY(-48%); }

nav {
  display: flex;
  position: relative;
  width: 100%; }

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  background-color: #032a5b; }

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 198px;
  flex-shrink: 0; }
  #menu span {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold; }

[id*=gnb] {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 636px;
  padding: 38px 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
  z-index: 1000; }
  [id*=gnb].fnb {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    height: auto; }
  [id*=gnb] ul {
    display: table;
    width: 100%;
    max-width: 1569px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box; }
    [id*=gnb] ul li {
      display: table-cell;
      position: relative;
      vertical-align: top; }
      [id*=gnb] ul li .gnb-tit {
        display: block;
        position: relative;
        width: 100%;
        color: #333;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: -0.8px; }
        [id*=gnb] ul li .gnb-tit:before {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #ddd;
          content: ''; }
        [id*=gnb] ul li .gnb-tit:after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 120px;
          height: 3px;
          content: ''; }
        [id*=gnb] ul li .gnb-tit.bc1:after {
          background-color: #26b27c; }
        [id*=gnb] ul li .gnb-tit.bc2:after {
          background-color: #eb3447; }
        [id*=gnb] ul li .gnb-tit.bc3:after {
          background-color: #1886ba; }
      [id*=gnb] ul li .row {
        margin-top: 26px; }
        [id*=gnb] ul li .row dl {
          display: inline-block;
          width: 140px;
          font-weight: 300;
          vertical-align: top; }
          [id*=gnb] ul li .row dl dt {
            font-size: 1.5rem;
            font-weight: 400; }
            [id*=gnb] ul li .row dl dt a {
              color: #333; }
          [id*=gnb] ul li .row dl dd {
            line-height: 1.65; }
            [id*=gnb] ul li .row dl dd a {
              color: #aaa;
              font-size: 1.5rem; }
              [id*=gnb] ul li .row dl dd a:hover {
                font-weight: 400; }
      [id*=gnb] ul li > img {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%; }
    [id*=gnb] ul .left dd a:hover {
      color: #26b27c; }
    [id*=gnb] ul .center {
      width: 581px;
      padding: 0 60px; }
      [id*=gnb] ul .center dd a:hover {
        color: #eb3447; }
    [id*=gnb] ul .right dd a:hover {
      color: #1886ba; }

#reserve-btn-group {
  display: flex;
  flex-shrink: 0;
  width: 476px;
  padding: 26px 0;
  box-sizing: border-box;
  background-color: #26b27c; }
  #reserve-btn-group a {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%; }
    #reserve-btn-group a span {
      display: inline-block;
      margin-left: 10px;
      font-size: 2rem;
      line-height: 1.2; }
    #reserve-btn-group a:first-of-type:after {
      position: absolute;
      top: 50%;
      left: 100%;
      width: 1px;
      height: 40px;
      margin-top: -20px;
      background-color: #fff;
      opacity: 0.3;
      content: ''; }

#top-bnnr {
  max-width: 936px; }
  #top-bnnr .swiper-pagination {
    width: auto;
    height: 30px;
    top: 50%;
    right: auto;
    left: 725px;
    color: #fff;
    transform: translateY(-50%); }
  #top-bnnr .swiper-button-next {
    width: 42px;
    height: 42px;
    right: auto;
    left: 770px;
    margin-top: -21px;
    border: none;
    background-image: url(/resource/images/top-right.png);
    background-repeat: no-repeat; }
  #top-bnnr .swiper-button-prev {
    width: 42px;
    height: 42px;
    right: auto;
    left: 670px;
    margin-top: -21px;
    border: none;
    background-image: url(/resource/images/top-left.png);
    background-repeat: no-repeat; }

/* location */
#location {
  display: flex;
  height: 82px; }
  #location > * {
    border-right: 1px solid #eee;
    box-sizing: border-box; }
  #location .home {
    display: block;
    width: 82px;
    line-height: 82px;
    text-align: center;
    border-left: 1px solid #eee;
    flex-shrink: 0; }
  #location .depth {
    position: relative;
    min-width: 200px;
    height: 82px;
    padding-right: 40px;
    background-image: url(/resource/images/drop.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%; }
    #location .depth > p {
      padding-left: 20px;
      line-height: 82px; }
    #location .depth ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ddd;
      box-sizing: border-box;
      z-index: 100; }
      #location .depth ul li a {
        display: block;
        padding-left: 20px;
        color: #333;
        line-height: 35px; }

/*
	main
*/
#main-bnnr .swiper-slide > a {
  display: block;
  position: relative; }
  #main-bnnr .swiper-slide > a .swiper-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1300px;
    height: 1px;
    transform: translateX(-50%); }
    #main-bnnr .swiper-slide > a .swiper-cont .tit {
      margin-bottom: 30px;
      font-size: 5rem;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: -3.75px; }
    #main-bnnr .swiper-slide > a .swiper-cont .text {
      font-size: 2.2rem;
      font-weight: 300;
      letter-spacing: -1.65px; }
#main-bnnr .swiper-pagination {
  bottom: 30px; }
  #main-bnnr .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 10px;
    border: 2px solid #fff;
    background-color: transparent;
    opacity: 1; }
  #main-bnnr .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff; }

#center-list {
  min-height: 778px;
  padding: 100px 0;
  box-sizing: border-box;
  background-image: url(/resource/images/center-list-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto 100%;
  background-color: #f2f2f2; }
  #center-list .inner {
    max-width: 1520px; }
  #center-list .tab {
    display: flex;
    justify-content: center;
    align-items: center; }
    #center-list .tab li {
      position: relative;
      padding: 0 20px; }
      #center-list .tab li:not(:last-of-type):after {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 1px;
        height: 14px;
        margin-top: -7px;
        background-color: #333;
        content: ''; }
      #center-list .tab li.on a, #center-list .tab li:hover a, #center-list .tab li:focus a {
        color: #333;
        transition: all 0.1s; }
      #center-list .tab li a {
        color: #bababa;
        font-size: 3.5rem;
        font-weight: 500; }
  #center-list .tab + p {
    padding: 15px 0;
    color: #989898;
    font-size: 1.8rem;
    text-align: center; }
  #center-list #filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0; }
    #center-list #filter.tab-1 li.on a, #center-list #filter.tab-1 li:hover a, #center-list #filter.tab-1 li:focus a {
      background-color: #26b27c; }
    #center-list #filter.tab-2 li.on a, #center-list #filter.tab-2 li:hover a, #center-list #filter.tab-2 li:focus a {
      background-color: #1886ba; }
    #center-list #filter.tab-3 li.on a, #center-list #filter.tab-3 li:hover a, #center-list #filter.tab-3 li:focus a {
      background-color: #eb3447; }
    #center-list #filter li {
      margin: 0 5px; }
      #center-list #filter li.on a, #center-list #filter li:hover a, #center-list #filter li:focus a {
        color: #fff;
        transition: all 0.1s; }
      #center-list #filter li a {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        color: #333;
        border-radius: 100%;
        background-color: #fff; }
  #center-list #tab1-1 {
    display: block; }
    #center-list #tab1-1 .list li:hover a {
      border-color: #26b27c; }
  #center-list #tab1-2 .list li:hover a {
    border-color: #1886ba; }
  #center-list #tab1-3 .list li:hover a {
    border-color: #eb3447; }
  #center-list .tab-cont {
    display: none; }
    #center-list .tab-cont .list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap; }
      #center-list .tab-cont .list li {
        margin: 5.5px; }
        #center-list .tab-cont .list li a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          flex-flow: column;
          width: 179px;
          height: 179px;
          color: #a3a3a3;
          border: 12px solid #fff;
          box-sizing: border-box;
          background-color: #fff; }

#main-notice .tab,
#sub-notice .tab {
  display: flex;
  justify-content: center;
  align-items: center; }
  #main-notice .tab li,
  #sub-notice .tab li {
    position: relative;
    padding: 0 20px; }
    #main-notice .tab li:not(:last-of-type):after,
    #sub-notice .tab li:not(:last-of-type):after {
      position: absolute;
      top: 50%;
      left: 100%;
      width: 1px;
      height: 14px;
      margin-top: -7px;
      background-color: #cecece;
      content: ''; }
    #main-notice .tab li.on a, #main-notice .tab li:hover a, #main-notice .tab li:focus a,
    #sub-notice .tab li.on a,
    #sub-notice .tab li:hover a,
    #sub-notice .tab li:focus a {
      color: #333;
      transition: all 0.1s; }
    #main-notice .tab li a,
    #sub-notice .tab li a {
      color: #bababa;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: -1.5px; }
#main-notice .main-list-menu,
#sub-notice .main-list-menu {
  margin: 110px 0; }
  #main-notice .main-list-menu .inner,
  #sub-notice .main-list-menu .inner {
    overflow: hidden;
    text-align: center; }
    #main-notice .main-list-menu .inner .main-clinic,
    #sub-notice .main-list-menu .inner .main-clinic {
      display: none;
      overflow: visible; }
      #main-notice .main-list-menu .inner .main-clinic#tab2-1,
      #sub-notice .main-list-menu .inner .main-clinic#tab2-1 {
        display: block; }
    #main-notice .main-list-menu .inner ul,
    #sub-notice .main-list-menu .inner ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-top: 13px;
      padding-bottom: 30px; }
      #main-notice .main-list-menu .inner ul li,
      #sub-notice .main-list-menu .inner ul li {
        position: relative;
        width: calc(25% - 15px);
        margin-right: 20px;
        margin-top: 60px;
        height: auto;
        transition: all 0.2s; }
        #main-notice .main-list-menu .inner ul li:nth-of-type(4n+4),
        #sub-notice .main-list-menu .inner ul li:nth-of-type(4n+4) {
          margin-right: 0; }
        #main-notice .main-list-menu .inner ul li .dec,
        #sub-notice .main-list-menu .inner ul li .dec {
          display: block;
          text-align: left;
          padding-bottom: 30px; }
          #main-notice .main-list-menu .inner ul li .dec .img img,
          #sub-notice .main-list-menu .inner ul li .dec .img img {
            width: 100%; }
          #main-notice .main-list-menu .inner ul li .dec .txt,
          #sub-notice .main-list-menu .inner ul li .dec .txt {
            display: block;
            padding: 20px 0;
            box-sizing: border-box; }
            #main-notice .main-list-menu .inner ul li .dec .txt b,
            #sub-notice .main-list-menu .inner ul li .dec .txt b {
              color: #202020;
              font-size: 1.8rem;
              font-weight: normal;
              letter-spacing: -0.9px; }
            #main-notice .main-list-menu .inner ul li .dec .txt p,
            #sub-notice .main-list-menu .inner ul li .dec .txt p {
              margin-top: 1rem;
              color: #999;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.4;
              letter-spacing: -0.9px; }
        #main-notice .main-list-menu .inner ul li .dec-foot,
        #sub-notice .main-list-menu .inner ul li .dec-foot {
          position: absolute;
          bottom: 0;
          left: 0;
          color: #333;
          font-size: 0.938rem;
          padding: 0 0 0;
          box-sizing: border-box; }
          #main-notice .main-list-menu .inner ul li .dec-foot span,
          #sub-notice .main-list-menu .inner ul li .dec-foot span {
            padding: 0 10px;
            color: #a6a6a6;
            font-size: 1.4rem;
            font-weight: 300;
            vertical-align: middle; }
            #main-notice .main-list-menu .inner ul li .dec-foot span.label,
            #sub-notice .main-list-menu .inner ul li .dec-foot span.label {
              display: inline-block;
              width: 60px;
              height: 25px;
              margin-right: 5px;
              color: #333;
              line-height: 25px;
              text-align: center;
              border: 1px solid #333;
              border-radius: 14px; }
            #main-notice .main-list-menu .inner ul li .dec-foot span.view,
            #sub-notice .main-list-menu .inner ul li .dec-foot span.view {
              position: relative; }
              #main-notice .main-list-menu .inner ul li .dec-foot span.view:after,
              #sub-notice .main-list-menu .inner ul li .dec-foot span.view:after {
                position: absolute;
                top: 50%;
                right: 100%;
                width: 1px;
                height: 10px;
                margin-top: -4px;
                background-color: #cecece;
                content: ''; }

#main-info {
  padding: 100px 0; }
  #main-info h3 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: -1.5px;
    text-align: center; }

/*
	sub
*/
#sub-bnnr {
  overflow: hidden;
  position: relative;
  width: 100%; }
  #sub-bnnr > img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  #sub-bnnr > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    #sub-bnnr > h2 span {
      display: inline-block;
      width: 232px;
      height: 44px;
      background-image: url(/resource/images/sub-bnnr-text.png);
      background-repeat: no-repeat;
      background-position: center; }
    #sub-bnnr > h2 small {
      display: inline-block;
      width: 100%;
      padding: 25px 0 0;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 300; }

.cont-tit {
  padding: 30px 0 40px;
  color: #333333;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1.5px; }
  .cont-tit.bar {
    padding-top: 0;
    padding-left: 30px;
    padding: 0 0 30px 30px;
    background-image: url(/resource/images/title-bar.png);
    background-repeat: no-repeat;
    background-position: 0 2px; }
  .cont-tit.center {
    text-align: center; }

.cont-box {
  position: relative;
  display: flex;
  padding: 40px 0;
  box-sizing: border-box; }
  .cont-box:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e3e3e3;
    content: ''; }
  .cont-box:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 2px;
    background-color: #1795d0;
    content: ''; }
  .cont-box .cont-label {
    flex-shrink: 0;
    width: 240px;
    color: #333333;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -1.25px; }
  .cont-box .cont {
    width: 100%; }
  .cont-box .cont-step {
    width: 100%; }
    .cont-box .cont-step li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 16px;
      border-bottom: 1px solid #eee;
      box-sizing: border-box; }
      .cont-box .cont-step li > * {
        padding: 0 10px; }
      .cont-box .cont-step li > span {
        width: 60px;
        text-align: center;
        flex-shrink: 0; }
        .cont-box .cont-step li > span img {
          max-width: 60px; }
      .cont-box .cont-step li .step-tit {
        width: 250px;
        padding-left: 20px;
        font-size: 1.8rem;
        font-weight: 500;
        flex-shrink: 0; }
      .cont-box .cont-step li .step-text {
        font-size: 1.7rem;
        font-weight: 300;
        letter-spacing: -0.9px; }

.page-dropdown {
  position: relative;
  width: 428px;
  height: 60px;
  margin: -10px auto 50px; }
  .page-dropdown .dropdown-toggle {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 88px 0 28px;
    font-family: 'Noto Sans KR';
    font-size: 1.8rem;
    line-height: 60px;
    text-align: left;
    border: none;
    outline: none;
    background-color: #fff;
    z-index: 100; }
    .page-dropdown .dropdown-toggle:after {
      position: absolute;
      top: 50%;
      right: 40px;
      width: 8px;
      height: 8px;
      border-top: 2px solid #999;
      border-right: 2px solid #999;
      transform: rotate(135deg);
      margin-top: -5px;
      transition: all .2s;
      content: ""; }
    .page-dropdown .dropdown-toggle.on {
      background: #fff;
      color: #111; }
      .page-dropdown .dropdown-toggle.on:after {
        margin-top: -1px;
        border-color: #26b27c; }
  .page-dropdown .dp-section {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: all 0.2s;
    z-index: 100; }
    .page-dropdown .dp-section li {
      width: 50%;
      height: 50px;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box; }
      .page-dropdown .dp-section li a {
        display: block;
        width: 100%;
        padding: 0 30px;
        color: #555;
        font-size: 18px;
        line-height: 49px;
        box-sizing: border-box; }
        .page-dropdown .dp-section li a:hover {
          background-color: #f8f8f8; }
  .page-dropdown:hover .dropdown-toggle + .dp-section {
    border-top: 2px solid #ddd;
    transition: all 0.2s; }

.docList {
  position: relative;
  margin-bottom: 40px;
  padding: 40px 0; }
  .docList .link {
    position: absolute;
    top: 2.75rem;
    right: 0;
    padding-right: 1.6rem;
    color: #333;
    font-size: 18px;
    line-height: 1; }
    .docList .link:before, .docList .link:after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 50%;
      left: -30px;
      width: 1rem;
      height: 0.1rem;
      background: #26b27c; }
    .docList .link:after {
      transform: rotate(90deg); }
  .docList .list {
    margin: 0 -1.5rem; }
    .docList .list:after {
      content: "";
      display: block;
      clear: both; }
    .docList .list li {
      float: left;
      width: 25%;
      margin: 2.5rem 0; }
      .docList .list li a {
        display: block;
        margin: 0 2rem; }
      .docList .list li .pic {
        position: relative;
        display: block;
        margin: 0 0 0.5rem;
        border: 1px solid #ddd; }
        .docList .list li .pic:before, .docList .list li .pic:after {
          content: "";
          position: absolute;
          z-index: 2;
          right: 2.5rem;
          bottom: 3rem;
          width: 1.15rem;
          height: 0.15rem;
          background: #fff; }
        .docList .list li .pic:after {
          transform: rotate(90deg); }
        .docList .list li .pic img {
          width: 100%; }
        .docList .list li .pic i {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 6.7rem;
          height: 6.7rem;
          background: #26b27c; }
      .docList .list li .name {
        display: inline-block;
        margin-top: 15px;
        color: #111;
        font-size: 3rem;
        font-weight: 300; }
        .docList .list li .name b {
          font-size: 3rem;
          font-weight: 500; }

.doc-history {
  width: 100%;
  min-height: 400px;
  padding: 0 50px;
  font-size: 18px;
  line-height: 36px;
  box-sizing: border-box; }

.doctor {
  display: flex;
  justify-content: space-between;
  margin-top: 80px; }
  .doctor .doctor-img {
    width: 400px;
    text-align: center; }
    .doctor .doctor-img img {
      width: 100%;
      max-width: 398px;
      border: 1px solid #ddd; }
  .doctor .doctor-info {
    width: calc(100% - 508px); }
    .doctor .doctor-info .talk span {
      display: block;
      margin-bottom: 30px;
      font-family: NanumMyeongjo;
      font-size: 35px;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: -1px; }
    .doctor .doctor-info .talk small {
      display: inline-block;
      margin-bottom: 50px;
      font-size: 18px; }
    .doctor .doctor-info .name {
      margin-bottom: 30px; }
      .doctor .doctor-info .name small {
        margin-right: 10px;
        font-size: 18px; }
      .doctor .doctor-info .name span {
        display: block;
        margin-top: 6px;
        font-size: 30px;
        font-weight: 300; }
        .doctor .doctor-info .name span b {
          font-weight: 500; }
    .doctor .doctor-info .clinic {
      margin-bottom: 15px; }
      .doctor .doctor-info .clinic span {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 15px;
        color: #333;
        border: 1px solid #333; }
      .doctor .doctor-info .clinic ul {
        display: inline-block; }
        .doctor .doctor-info .clinic ul li {
          display: inline-block;
          position: relative;
          padding: 0 10px;
          font-size: 16px; }
          .doctor .doctor-info .clinic ul li:after {
            display: block;
            position: absolute;
            top: 50%;
            left: 100%;
            width: 2px;
            height: 12px;
            margin-top: -5px;
            background-color: #666;
            content: ''; }
          .doctor .doctor-info .clinic ul li:last-of-type:after {
            display: none; }
    .doctor .doctor-info [class*=tableType] {
      margin-bottom: 0; }
    .doctor .doctor-info > p {
      margin-top: 6px; }
    .doctor .doctor-info .btn {
      width: 215px; }
      .doctor .doctor-info .btn.border-green {
        color: #333; }

.tabMenu {
  margin-top: 50px;
  margin-bottom: 30px; }
  .tabMenu ul {
    display: flex; }
    .tabMenu ul li {
      width: 100%;
      margin: 0 5px;
      text-align: center;
      border: 1px solid #ddd; }
      .tabMenu ul li.active {
        border: 1px solid #26b27c;
        background-color: #26b27c; }
        .tabMenu ul li.active a {
          color: #fff; }
      .tabMenu ul li a {
        display: block;
        width: 100%;
        color: #333;
        font-size: 18px;
        line-height: 60px; }

.tabMenu-2 {
  margin: 110px 0 55px; }
  .tabMenu-2.s-margin {
    margin: 50px 0 20px; }
  .tabMenu-2 ul {
    display: flex; }
    .tabMenu-2 ul li {
      position: relative;
      width: 100%;
      text-align: center;
      background-color: #f8f8f8; }
      .tabMenu-2 ul li:before {
        position: absolute;
        bottom: 0px;
        width: calc(100% + 2px);
        height: 1px;
        background-color: #111;
        z-index: 1; }
      .tabMenu-2 ul li:first-of-type.active:before {
        left: 100%;
        content: ''; }
      .tabMenu-2 ul li:last-of-type.active:before {
        right: 100%;
        content: ''; }
      .tabMenu-2 ul li.active {
        border: 1px solid #111;
        border-bottom: 0;
        background-color: #fff; }
        .tabMenu-2 ul li.active a {
          color: #111; }
      .tabMenu-2 ul li a {
        display: block;
        width: 100%;
        color: #111;
        font-size: 18px;
        line-height: 60px; }

.relationList {
  margin-top: 3rem; }
  .relationList ul {
    display: flex;
    align-content: center;
    justify-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 40px);
    margin-left: -20px; }
    .relationList ul li {
      position: relative;
      width: calc(33.33% - 40px);
      margin: 0 20px 20px;
      border: 1px solid #e4e4e4;
      background: #fdfdfd;
      box-sizing: border-box; }
  .relationList .thumb {
    position: relative;
    padding-top: 56%; }
    .relationList .thumb img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .relationList .cont {
    padding: 3rem 4rem;
    border-top: 0;
    font-size: 1.3rem;
    color: #333; }
    .relationList .cont .tit {
      display: block;
      height: auto;
      padding: 1rem 0 0.75rem;
      font-size: 2.2rem;
      line-height: 1.2;
      color: #111;
      box-sizing: border-box; }
    .relationList .cont .txt {
      display: block;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      height: 112px;
      font-size: 16px; }
    .relationList .cont .link {
      position: absolute;
      right: 0;
      bottom: 15px;
      padding-right: 1.5rem;
      font-size: 14px;
      line-height: 1; }

.relationVod {
  margin-top: 2.5rem; }
  .relationVod .title {
    margin: 0 0 1.5rem;
    padding: 0 0 1rem;
    border-bottom: 0.05rem solid #222e3e;
    font-size: 2.4rem;
    text-align: center; }
  .relationVod ul {
    display: flex;
    align-content: center;
    justify-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 40px);
    margin-left: -20px; }
    .relationVod ul li {
      width: calc(33.33% - 40px);
      margin: 0 20px 20px;
      border: 0.05rem solid #e4e4e4;
      box-sizing: border-box; }
  .relationVod .vod {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden; }
    .relationVod .vod .vlayer {
      bottom: 0; }
    .relationVod .vod .time {
      position: absolute;
      top: 55%;
      right: 0;
      left: 0;
      color: #fff;
      font-size: 1.4rem;
      z-index: 1000;
      text-align: center; }
    .relationVod .vod iframe {
      border: none; }
  .relationVod .cont {
    position: relative;
    padding: 3rem 4rem;
    border-top: 1px solid #ddd; }
    .relationVod .cont .tit {
      display: block;
      height: auto;
      margin: 0 0 1rem;
      color: #333;
      font-size: 22px;
      box-sizing: border-box; }
    .relationVod .cont .txt {
      display: block;
      color: #333; }
    .relationVod .cont .name {
      display: block;
      margin: 1.5rem 0 0;
      padding: 0.5rem 0 0;
      color: #333;
      font-weight: 400;
      line-height: 1.2; }
      .relationVod .cont .name img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden; }
    .relationVod .cont .btnSns {
      position: absolute;
      right: 1rem;
      bottom: 1rem; }
      .relationVod .cont .btnSns a {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 0;
        text-align: center;
        vertical-align: middle; }

@keyframes spin {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }
#intro {
  padding: 101px 0 101px 30%; }
  #intro .intro-head {
    position: relative;
    margin-bottom: 40px;
    color: #333333;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -1.5px; }
    #intro .intro-head:before {
      display: block;
      position: absolute;
      top: 50%;
      left: -390px;
      width: 563px;
      height: 563px;
      margin-top: -281px;
      background-image: url(/resource/images/intro-01.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: -1;
      content: '';
      animation-name: spin;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    #intro .intro-head:after {
      display: block;
      position: absolute;
      top: 50%;
      left: -180px;
      width: 152px;
      height: 152px;
      background-image: url(/resource/images/intro-02.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      transform: translateY(-50%);
      content: ''; }

[id*=history-] {
  padding: 100px 0; }
  [id*=history-].gray {
    background-color: #f1f1f1; }
    [id*=history-].gray .history-box .swiper-container .swiper-slide > p {
      background-color: #f1f1f1; }
  [id*=history-] .history-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; }
    [id*=history-] .history-box .swiper-container {
      margin-left: 0;
      width: 500px;
      padding-bottom: 30px; }
      [id*=history-] .history-box .swiper-container .swiper-slide > p {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 90%;
        padding: 15px 0 0;
        text-align: center;
        background-color: #fff;
        transform: translateX(-50%); }
      [id*=history-] .history-box .swiper-container .swiper-pagination {
        bottom: -5px; }
        [id*=history-] .history-box .swiper-container .swiper-pagination .swiper-pagination-bullet {
          width: 11px;
          height: 11px; }
        [id*=history-] .history-box .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
          background-color: #eb3447; }
    [id*=history-] .history-box .history-list {
      width: 50%; }
      [id*=history-] .history-box .history-list .years {
        margin-bottom: 54px;
        color: #333333;
        font-family: 'arita-buri';
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 0.86;
        letter-spacing: -1.75px; }
      [id*=history-] .history-box .history-list .list {
        display: flex;
        margin-bottom: 30px;
        font-size: 1.8rem;
        font-weight: 300; }
        [id*=history-] .history-box .history-list .list .year {
          width: 80px;
          font-size: 1.8rem; }

#mission {
  width: 100%;
  padding-bottom: 200px;
  background-image: url(/resource/images/mission.png);
  background-repeat: no-repeat;
  background-position: 0 100px;
  background-size: 100.09% auto; }

.cardList {
  display: flex;
  align-content: flex-start;
  justify-items: flex-start;
  width: calc(100% + 3rem);
  margin: 2rem 0 0 -1.5rem; }
  .cardList.typeRecruit li {
    background-image: url("http://nkhospital.net/resource/images/contents/icon_recruit.png"); }
  .cardList li {
    width: 33.33%;
    margin: 1.5rem;
    background: #fdfdfd url("http://nkhospital.net/resource/images/contents/icon_heart.png") no-repeat right 1.4rem bottom 1.4rem;
    background-size: 2rem;
    border: 1px solid #ddd;
    border-top: 2px solid #eb3447; }
    .cardList li a {
      display: block;
      padding: 3rem;
      transition: all 0.2s; }
    .cardList li:hover a {
      padding: 3rem 2rem 3rem 4rem; }
    .cardList li:hover .opt:after {
      background-color: #eb3447; }
  .cardList .subject {
    display: block;
    overflow: hidden;
    color: #333;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 400;
    font-size: 2.5rem; }
  .cardList .txt {
    display: block;
    margin: 1rem 0 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #666; }
  .cardList .opt {
    display: block;
    position: relative;
    margin: 1.25rem 0 0 -0.75rem; }
    .cardList .opt:after {
      content: "";
      position: absolute;
      top: -132px;
      bottom: 136px;
      left: -0.75rem;
      width: 5px;
      background-color: #fbfbfb; }
    .cardList .opt span {
      position: relative;
      display: inline-block;
      padding: 0 0.75rem;
      color: #666; }
      .cardList .opt span :after {
        content: "";
        position: absolute;
        top: 0.8rem;
        left: -0.2rem;
        width: 1px;
        height: 0.8rem;
        background: #ddd; }

/** 뉴고려병원 - 협력병원 **/
.joinHospital {
  display: flex;
  align-content: flex-start;
  justify-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 17px; }
  .joinHospital > li {
    border: 1px solid #ddd;
    width: calc(33.33% - 20px);
    margin: 20px 10px;
    box-sizing: border-box;
    min-height: 116px;
    background-color: #fdfdfd; }
    .joinHospital > li > p {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ddd;
      background-color: #fff; }
      .joinHospital > li > p img {
        height: 90px; }
  .joinHospital .joinHList {
    list-style: none;
    padding: 30px 15px; }
    .joinHospital .joinHList > li {
      font-size: 1.6rem;
      color: #333;
      margin: 0;
      letter-spacing: -0.5px; }
      .joinHospital .joinHList > li > a {
        display: inline-block;
        margin-top: 15px;
        text-decoration: none;
        font-size: 1.3rem;
        color: #333;
        line-height: 1.4; }
        .joinHospital .joinHList > li > a:hover {
          color: #eb3447; }
    .joinHospital .joinHList .joinHName {
      color: #6666cc;
      font-size: 2rem;
      font-weight: 600;
      padding-bottom: 15px; }

/* 로그인 */
.btnTypeNaver {
  background: #1dc800;
  color: #fff; }
  .btnTypeNaver:before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem 0 -1rem;
    background: url("/nkhospital.net/resource/images/naver.png") no-repeat;
    background-size: 3rem;
    vertical-align: middle; }

.btnTypeKakao {
  background: #ffe400;
  color: #412e34; }
  .btnTypeKakao:before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem 0 -1rem;
    background: url("/nkhospital.net/resource/images/kakao.png") no-repeat;
    background-size: 3rem;
    vertical-align: middle; }

.pageTitle {
  height: 7rem;
  text-align: center;
  background-size: auto 7rem;
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: 0; }
  .pageTitle + .btnWrap {
    margin-top: 0; }
  .pageTitle span {
    display: inline-block;
    margin-right: 0.5rem;
    color: #1d366d;
    font-size: 1.4rem;
    font-weight: 400;
    vertical-align: middle; }
    .pageTitle span:before {
      content: "";
      display: inline-block;
      margin-right: 0.5rem;
      background-size: 100%;
      background-repeat: no-repeat;
      vertical-align: bottom; }
  .pageTitle.login {
    background-image: url("https://nkhospital.net/resource/images/contents/icon_sub_login.png"); }
  .pageTitle.join span:before {
    width: 3.15rem;
    height: 3.3rem;
    background-image: url("https://nkhospital.net/resource/images/contents/icon_sub_join.png"); }
  .pageTitle.find span:before {
    width: 2.6rem;
    height: 2.6rem;
    background-image: url("/resource-pc/images/contents/icon_sub_find.png"); }
  .pageTitle.joinCom {
    background-image: url("/resource-pc/images/contents/icon_sub_join_com.png"); }
  .pageTitle.mypage {
    background-image: url("/resource-pc/images/contents/icon_sub_mp.png"); }
  .pageTitle.write {
    background-image: url("/resource-pc/images/contents/icon_sub_write.png"); }
  .pageTitle.letter {
    background-image: url("/resource-pc/images/contents/icon_sub_letter.png"); }
  .pageTitle.recruit {
    background-image: url("/resource-pc/images/contents/icon_sub_recruit.png"); }
  .pageTitle.collabo {
    background-image: url("/resource-pc/images/contents/icon_sub_collabo.png"); }
  .pageTitle.tel {
    background-image: url("/resource-pc/images/contents/icon_sub_tel.png"); }
  .pageTitle.terms {
    background-image: url("/resource-pc/images/contents/icon_sub_terms.png"); }
  .pageTitle.privacy {
    background-image: url("/resource-pc/images/contents/icon_sub_privacy.png"); }
  .pageTitle.signature {
    background-image: url("/resource-pc/images/contents/icon_sub_signature.png"); }
  .pageTitle.infomation {
    background-image: url("/resource-pc/images/contents/icon_sub_infomation.png"); }
  .pageTitle.right {
    background-image: url("/resource-pc/images/contents/icon_sub_right.png"); }

.pageTxt {
  font-size: r(44);
  line-height: 1.4; }

.loginWrap {
  background-size: 2.6rem; }
  .loginWrap .inputTxt {
    display: block;
    width: 100%;
    line-height: 3.3rem;
    margin: 0 0 1.75rem;
    border: 0;
    border-bottom: 0.2rem solid #c0c8d6;
    font-size: 1.4rem; }
  .loginWrap .loginOption {
    position: relative;
    margin: 1.5rem 0 0; }
    .loginWrap .loginOption .link {
      position: absolute;
      top: 0;
      right: 0;
      color: #333; }
  .loginWrap .btnSns {
    margin: 3rem 0 3rem;
    padding: 1.5rem 0 0;
    border-top: 1px solid #c0c8d6;
    text-align: center; }
    .loginWrap .btnSns a ~ a {
      margin-left: 4.5rem; }
    .loginWrap .btnSns [class*="btn"] {
      display: inline-block; }
      .loginWrap .btnSns [class*="btn"]:before {
        content: "";
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-right: 0.8rem;
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: -10px; }
      .loginWrap .btnSns [class*="btn"].btnNaver {
        color: #1cbf00; }
        .loginWrap .btnSns [class*="btn"].btnNaver:before {
          background-image: url("https://nkhospital.net/resource/images/naver.png"); }
      .loginWrap .btnSns [class*="btn"].btnKakao {
        color: #412e34; }
        .loginWrap .btnSns [class*="btn"].btnKakao:before {
          background-image: url("https://nkhospital.net/resource/images/kakao.png"); }
  .loginWrap .helpTxt {
    margin: 1rem 1rem 0;
    text-align: left; }

/*
	footer
*/
footer {
  background-color: #373737; }
  footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0; }
    footer .inner .foot-logo {
      width: 100%; }
    footer .inner .f-l .f-l-list {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap; }
    footer .inner .f-l dl {
      width: 160px;
      margin: 30px 10px 0 0;
      font-weight: 300;
      color: #fff; }
      footer .inner .f-l dl:nth-of-type(2) {
        width: 190px; }
      footer .inner .f-l dl dt {
        opacity: 0.35; }
      footer .inner .f-l dl dd {
        font-weight: 500;
        line-height: 1.4; }
    footer .inner .f-r .f {
      display: flex; }
      footer .inner .f-r .f.time dl {
        margin-right: 78px;
        color: #fff;
        font-size: 1.6rem; }
        footer .inner .f-r .f.time dl dt {
          font-weight: 500; }
        footer .inner .f-r .f.time dl dd {
          font-weight: 300; }
      footer .inner .f-r .f.tel, footer .inner .f-r .f.call {
        display: inline-flex;
        margin-top: 50px; }
        footer .inner .f-r .f.tel dl, footer .inner .f-r .f.call dl {
          min-width: 150px;
          margin-right: 20px;
          color: #fff;
          letter-spacing: -0.8px; }
          footer .inner .f-r .f.tel dl dt, footer .inner .f-r .f.call dl dt {
            font-size: 1.8rem; }
          footer .inner .f-r .f.tel dl dd, footer .inner .f-r .f.call dl dd {
            font-size: 2.8rem;
            font-weight: 600; }
      footer .inner .f-r .f img {
        margin-right: 20px;
        align-self: flex-start; }
  footer .info {
    width: 100%;
    max-width: 1509px;
    margin: 20px auto 0; }
    footer .info p {
      color: #fff; }
    footer .info span {
      display: inline-block;
      margin-right: 20px;
      color: #fff;
      font-weight: 300;
      opacity: 0.35; }

#fnb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  #fnb li {
    margin: 0 30px; }
    #fnb li a {
      color: #fff;
      font-weight: 300;
      opacity: 0.35; }
      #fnb li a:hover {
        opacity: 1; }

/*
	modal
*/
.modal-box {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000; }
  .modal-box .modal {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 800px;
    padding: 30px;
    background-color: #fff;
    transform: translateX(-50%); }
    .modal-box .modal.small {
      width: 500px; }
    .modal-box .modal .close {
      display: block;
      position: absolute;
      top: -40px;
      right: -40px;
      width: 40px;
      height: 40px;
      color: #fff;
      font-size: 6rem;
      font-weight: 300; }

@media screen and (max-width: 1670px) {
  #menu {
    width: 128px; }

  #reserve-btn-group {
    width: 296px; } }
@media screen and (max-width: 1550px) {
  #logo {
    width: 180px;
    flex-shrink: 0; }

  #menu {
    width: 128px; }

  #reserve-btn-group {
    width: 296px; } }
@media screen and (max-width: 1440px) {
  #logo img {
    width: 120px; }

  #menu {
    flex-flow: column;
    align-items: center;
    width: 124px; }
    #menu span {
      display: block;
      margin-left: 3px;
      font-size: 1.4rem; }

  [id*=gnb] ul li.right > img {
    bottom: -30px; }
  [id*=gnb] ul li .left > img {
    width: 175px;
    bottom: -30px; }
  [id*=gnb] ul li .row dl {
    width: 130px; }

  #reserve-btn-group a span {
    font-size: 1.6rem; }

  #top-bnnr .swiper-button-prev {
    left: auto;
    right: 110px; }
  #top-bnnr .swiper-button-next {
    left: auto;
    right: 20px; }
  #top-bnnr .swiper-pagination {
    left: auto;
    right: 70px; }
  #top-bnnr .swiper-slide img {
    height: 90px; } }

/*# sourceMappingURL=style.css.map */
